site_name: MkDocs Portfolio

nav:
  - Home: index.md
  - Projects: projects.md
  - Contributions: contributions.md
  - Certifications: certifications.md
  - Academics: articles.md
  - Work Experience: work-experience.md

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  primary: deep purple
  accent: aliceblue
  extra:
  alternate:
    - name: English
      link: /en/ 
      lang: en
    - name: Portuguese
      link: /pt-BR/
      lang: pt-BR
  features:
    - navigation.tabs
    - navigation.top

extra_css:
  - assets/stylesheets/extra.css